
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
</head>
<body>
    <!-- Edit -->
<div id="edit" style="display: block">
    <form id="editEmployee" action="/edit_employee">
      <legend><strong>Update Employee</strong></legend>
      <fieldset class="fields">

        <label> manager_id </label> <input type="number" name="manager_id" value="" />

        <label> employee_name </label> <input type="text" name="employee_name" value="" />

        <label> organization </label> <input type="text" name="organization" value="" />

      </fieldset>
    
      <input
        class="btn"
        type="submit"
        value="edit Employee"
      />
      <button><a href="./employees">Cancel</a></button>
    </form>
</body>
</html>
