<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./static/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Employee Page</title>
  </head>
  <body>
    <nav class="nav-home">
      <img
        class="img-home-logo"
        src="./static/img/management.png"
        alt="management logo"
      />
      <p><a href="./">Home</a></p>
      <h2>Entities</h2>
      <p><a href="./managers">Managers</a></p>
      <p><a href="./employees">Employees</a></p>
      <p><a href="./projects">Projects</a></p>
      <p><a href="./clients">Clients</a></p>
      <p><a href="./projects_mapping">Projects Mapping</a></p>
    </nav>
    <main class="main">
      <h1>Employees</h1>
      <h4>An entity that stores information about employee_id, manager_id, employee_name, and organization. This entity has a M:M relationship between projects and employees.</h4>
      <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>employee_id</th>
          <th>manager_id</th>
          <th>employee_name</th>
          <th>organization</th>
          <th>Action</th>
        </tr>         
        <tbody>
    {% for item in employees %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>
       
          <button>
          <a href="./employees/edit_employee/{{item[0]}}">Edit</a>
        </button>
        
        <button>
          <a href="./delete_employee/{{item[0]}}">Delete</a>
        </button>
      </td>
    </tr>
    {% endfor %} 
      </table>

      <button><a href="./add_employee">Add New</a></button>

    </main>
  </body>
</html>

<!-- <form action="/prescriptions" method="post">
  <fieldset>
  <select name="patient_id" class="input-attribute" required>
      <option value=""> -- Patient ID -- </option>
      {% for p in patients_info %}
      <option value="{{p['patient_id']}}"> {{p['first_name']}} {{p['last_name']}}</option>
      {% endfor %}
  </select>
  <select name="medication_id" class="input-attribute" required>
      <option value=""> -- Medication ID -- </option>
      {% for m in medications_info %}
      <option value="{{m['medication_id']}}"> {{m['drug_name']}}</option>
      {% endfor %}
  </select>
  <input class="input-attribute" type="number" min="0" placeholder="Enter quantity" name="quantity" required/>
<div class="button-container">
  <input class="alt-button" type="submit" id="add_prescription" value="Add Prescription">
</div>
</fieldset>
</form> -->