<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="nav-home">
      <img
        class="img-home-logo"
        src="../static/management.png"
        alt="management logo"
      />
    
     
      <p><a href="./">Home</a></p>
      <h2>Entities</h2>
      <p><a href="./managers">Managers</a></p>
      <p><a href="./employees">Employees</a></p>
      <p><a href="./projects">Projects</a></p>
      <p><a href="./clients">Clients</a></p>
      <p><a href="./projects_mapping">Projects Mapping</a></p>
    </nav>
    <main class="main">
      <h1>Work Organizer</h1>
      <h1>Home Page</h1>
      <p>
        As people progress through their careers, they may eventually end up in
        management level positions. It is a rewarding position, yet it brings
        many challenges. Managers can lead their teams to success when they have
        the right understanding of the relationships between their employees,
        the clients, and the projects. We have looked up at some of the top
        challenges that managers face, one of which is keeping track of what
        everyone they manage is doing, work wise. This workplace organizer will
        help managers to manage, track, and update projects. It is meant to be
        used by managers, so they can keep track of who their clients are, what
        projects were given by clients, and their employees assigned to the
        projects. This application will be useful because a manager can also
        update the database if a project is completed, employees are reassigned
        to different projects, and any updates/deletions are necessary. It also
        consolidates how managers keep track of employees, their workload, and
        the clients expectations by using one system to reduce inefficiencies.
        As a result, managers will be able to solve and manage many conflicts
        within the team, creating reassurance, and reducing the chance of burn
        out. It is meant to be used in large scale organizations, being able to
        handle thousands of entries for each entity.
      </p>
    </main>
  </body>
</html>
