<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./static/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="./scripts/script.js"></script>
    <title>Manager Page</title>
  </head>
  <body>
    <nav class="nav-home">
      <img
        class="img-home-logo"
        src="./static/img/management.png"
        alt="management logo"
      />
      <p><a href="./">Home</a></p>
      <h2>Entities</h2>
      <p><a href="./managers">Managers</a></p>
      <p><a href="./employees">Employees</a></p>
      <p><a href="./projects">Projects</a></p>
      <p><a href="./clients">Clients</a></p>
      <p><a href="./projects_mapping">Projects Mapping</a></p>
    </nav>
    <main class="main">
      <!-- browse -->
      <div id="browse">
        <h1>Manager</h1>
        <!-- <p><a href="#" onclick="showAll()">Display all forms</a></p> -->
        <h4>	An entity that stores information about managers including manager_id, manager_name, organization, employee_under, client_id.</h4>
        <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>manager_id</th>
            <th>manager_name</th>
            <th>organization</th>
            <th>Action</th>
          </tr>
         <tbody>
    {% for item in managers %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>

        <td>
          <button>
            <a href="./managers/edit_manager/{{item[0]}}">Edit</a>
          </button>
          
          <button>
            <a href="./delete_manager/{{item[0]}}">Delete</a>
          </button>
          </td>
    </tr>
    {% endfor %} 
        </table>
        <button><a href="./add_manager">Add New</a></button>
    </main>
  </body>
</html>
